:root {
    --font-inter: "Inter", sans-serif;
}

html {
    box-sizing: border-box;
}

*, *::after, *::before {
    box-sizing: inherit;
    margin: 0;
    padding: 0;
}

img {
    width: 100%;
    object-fit: cover;
}